/* 헤더 */

header #menu_indexr {
	position: relative;
	top: -60px;
    display: inline-block;
}

header .search_box1 {
    width: 370px;
    height: 45px;
    border-radius: 5px;
    margin-left: 450px;
    padding-left: 10px;
    padding-right: 50px;
    box-sizing: border-box;
}

header .search_button1 {
    position: absolute;
    left: 510px;
    top: 4px;
    background: #fff;
    border: none;
    margin-left: 270px;
    font-size: 20px;
    color: #333;
    outline: none;
}

/* 메인 */

main {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

main > aside {
    float: left;
    width: 215px;
    height: 100%;
}

main > aside > .cgory {
    position: relative;
    width: 215px;
    height: 425px;
}

main > aside > .cgory > li {
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #000;
    font-size: 15px;
/*     font-weight: bold; */
/*     border-bottom: 1px solid #2b313f; */
    box-sizing: border-box;
    list-style: none;
}

main > aside > .cgory > li:nth-child(1){
    padding: 0 20px;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
}

main > aside > .cgory > li:nth-child(1) div{
    border-bottom: 1px solid #2b313f;
    
}

main  aside  .cgory  li  a {
    text-decoration: none;
    font-size: 1em;
    display: block;
    padding: 0 20px;
    color: #000;
    line-height: 40px;
    font-weight: bold;
}

main > aside > .cgory > li > a:hover {
    background: #2b313f;
    color: #fff;
}

main > aside > .cgory > li > a:hover + ol {
    display: block;
}

main > aside > .cgory ol:hover {
    display: block;
}   

main > aside > .cgory i {
    width: 22px;
    font-size: 16px;
    margin-right: 12px;
}

main > aside > .cgory > li i.fa-angle-right{
    float: right;
    width: auto;
    margin-top: 10px;
    margin-right: 0;
}

/* main > aside > .category ol { */
/*     position: absolute; */
/*     left: 215px; */
/*     top: 0; */
/*     display: none; */
/*     width: 215px; */
/*     height: 100%; */
/*     border: 1px solid #787f89; */
/*     background: #fff; */
/*     box-sizing: border-box; */
/*     z-index: 10000; */
/* } */

/* main > aside > .category ol > li { */
/*     width: 100%; */
/*     height: 24px; */
/*     padding: 10px; */
/*     box-sizing: border-box; */
/* } */

/* main > aside > .category ol > li > a:hover { */
/*     color: #41ab47; */
/*     text-decoration: underline; */
/* } */

main > section {
    float: right;
    width: 985px;
    height: auto;
    box-sizing: border-box;
}
/*-------------------------------------------------*/
 main > section > section {
     overflow: hidden;
     width: 100%;
     height: auto;
     box-sizing: border-box;
 }

/*  main > section > section > div  .thumbs { */
/*      float: left; */
/*      width: 25%; */
/*      height: 345px; */
/*      box-sizing: border-box; */
/*  } */

 h3 {
     display: block;
     font-size: 1.17em;
     margin-block-start: 1em;
     margin-block-end: 1em;
     margin-inline-start: 0px;
     margin-inline-end: 0px;
 }

 main > section > .slider {
     overflow: hidden;
     width: 100%;
     height: 425px;
 }

 main > section > .slider > .bx-wrapper {
 }

 main > section > .hit {}

 main > section > .recommend {}

 main > section > .new {}

 main > section > .discount {}

 /*** main::베스트상품 ***/
 main > aside > .best {
     width: 215px;
     height: auto;
     border: 1px solid #dbdbdb;
     box-sizing: border-box;
     box-shadow: 0 0 5px rgb(55 55 5 / 20%);
     position: sticky;
 }
 main > aside > .best > h1 {
     font-size: 14px;
     font-weight: bold;
     color: #111;
     margin: 6px;
 }

 /*** main::slider ***/
 main > section > .slider {}
 


 /*** main::hit ***/
 main > section > .hit {}
 main > section > section {
     width: 100%;
     height: 2000px;
     overflow: hidden;
 }
 main > section > section > h3 > span {
     display: inline-block;
     margin: 10px;
/*      border-bottom: 2px solid #111; */
     font-weight: bold;
     font-size: 30px;
 }
 main  .thumbs {
     float:left;
     width: 25%;
     
     height: 400px;
 }
 main  .thumbs  a {
     display: block;
     color: #000;
     text-decoration: none;
     width: 100%;
     height: 100%;
     padding: 10px;
     box-sizing: border-box;
 }
main .thumbs h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    min-height: 50px;
}
 main .thumbs p {
     color: #222;
     font-size: 12px;
     line-height: 16px;
     margin: 4px 0;
     text-overflow: ellipsis;
     overflow: hidden;
 }
 main > section > section > .thumbs p:hover {
     text-decoration: underline;
 }
 main > section > section > .thumbs .org_price > del {
     color: #aaa;
 }
 main > section > section > .thumbs del::after {
     content: "원";
 }
 main > section > section > .thumbs .org_price > span {
     color: #eb000a;
     font-size: 10px;
 }
 main > section > section > .thumbs .org_price > span::after {
     content: "↓";
 }
 main > section > section > .thumbs .dis_price {}
 main > section > section > .thumbs .dis_price > ins {
     font-size: 14px;
     text-decoration: none;
 }
 main > section > section > .thumbs ins::after {
     content: "원";
 }
 main > section > section > .thumbs .dis_price > .free {
     display: inline-block;
     font-size: 0;
     vertical-align: text-bottom;
     width: 55px;
     height: 13px;
     background-image: url(./img/ico_freeshipping.gif);
 }