/* 공통 */

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #444444;
  text-decoration: none;
  font-weight:bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/* * { */
/*     margin: 0px; */
/*     padding: 0px; */
/*     font: 12px 고딕; */
/* } */

/* ul, ol { list-style: none; } */

/* a { */
/*     text-decoration: none; */
/*     color: #111; */
/* } */

/* input, textarea { outline: none; } */

/* #wrapper { width: 100%; } */


/* 메인 */

main {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

main > aside {
    float: left;
    width: 215px;
    height: 100%;
}

main > aside > .category {
    position: relative;
    width: 215px;
    height: 425px;
    background: #333949;
}

main > aside > .category > li {
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #ccc;
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px solid #2b313f;
    box-sizing: border-box;
}

main > aside > .category > li:nth-child(1){
    padding: 0 20px;
    color: #fff;
    line-height: 40px;
}

main > aside > .category > li > a {
    display: block;
    padding: 0 20px;
    line-height: 40px;
    color: #ccc;
    font-weight: bold;
    text-decoration: none;
    font-size: 1em;
}

main > aside > .category > li > a:hover {
    background: #2b313f;
    color: #fff;
}

main > aside > .category > li > a:hover + ol {
    display: block;
}

main > aside > .category ol:hover {
    display: block;
}   

main > aside > .category i {
    width: 22px;
    font-size: 16px;
    margin-right: 12px;
}

main > aside > .category > li i.fa-angle-right{
    float: right;
    width: auto;
    margin-top: 10px;
    margin-right: 0;
}

/* main > aside > .category ol { */
/*     position: absolute; */
/*     left: 215px; */
/*     top: 0; */
/*     display: none; */
/*     width: 215px; */
/*     height: 100%; */
/*     border: 1px solid #787f89; */
/*     background: #fff; */
/*     box-sizing: border-box; */
/*     z-index: 10000; */
/* } */

/* main > aside > .category ol > li { */
/*     width: 100%; */
/*     height: 24px; */
/*     padding: 10px; */
/*     box-sizing: border-box; */
/* } */

/* main > aside > .category ol > li > a:hover { */
/*     color: #41ab47; */
/*     text-decoration: underline; */
/* } */

main > section {
    float: right;
    width: 985px;
    height: auto;
    box-sizing: border-box;
}
/*-------------------------------------------------*/
 main > section > section {
     overflow: hidden;
     width: 100%;
     height: auto;
     box-sizing: border-box;
 }

 main > section > section > article {
     float: left;
     width: 25%;
     height: 345px;
     box-sizing: border-box;
 }

 h3 {
     display: block;
     font-size: 1.17em;
     margin-block-start: 1em;
     margin-block-end: 1em;
     margin-inline-start: 0px;
     margin-inline-end: 0px;
 }

 main > section > .slider {
     overflow: hidden;
     width: 100%;
     height: 425px;
 }

 main > section > .slider > .bx-wrapper {
 }

 main > section > .hit {}

 main > section > .recommend {}

 main > section > .new {}

 main > section > .discount {}

 /*** main::베스트상품 ***/
 main > aside > .best {
     width: 215px;
     height: auto;
     border: 1px solid #dbdbdb;
     box-sizing: border-box;
     box-shadow: 0 0 5px rgb(55 55 5 / 20%);
     position: sticky;
 }
 main > aside > .best > h1 {
     font-size: 14px;
     font-weight: bold;
     color: #111;
     margin: 6px;
 }

 /*** main::slider ***/
 main > section > .slider {}
 


 /*** main::hit ***/
 main > section > .hit {}
 main > section > section {
     width: 100%;
     height: auto;
     overflow: hidden;
 }
 main > section > section > h3 > span {
     display: inline-block;
     margin: 10px;
     border-bottom: 2px solid #111;
     font-weight: bold;
     font-size: 16px;
 }
 main > section > section > article {
     float:left;
     width: 25%;
     height: 345px;
 }
 main > section > section > article > a {
     display: block;
     width: 100%;
     height: 100%;
     padding: 10px;
     box-sizing: border-box;
 }
 main > section > section > article h2 {
     font-size: 15px;
     font-weight: bold;
     margin-top: 4px;
     text-align: center;
     text-overflow: ellipsis;
     white-space: nowrap;
     overflow: hidden;
 }
 main > section > section > article p {
     color: #222;
     font-size: 12px;
     line-height: 16px;
     margin: 4px 0;
     text-overflow: ellipsis;
     white-space: nowrap;
     overflow: hidden;
 }
 main > section > section > article p:hover {
     text-decoration: underline;
 }
 main > section > section > article .org_price > del {
     color: #aaa;
 }
 main > section > section > article del::after {
     content: "원";
 }
 main > section > section > article .org_price > span {
     color: #eb000a;
     font-size: 10px;
 }
 main > section > section > article .org_price > span::after {
     content: "↓";
 }
 main > section > section > article .dis_price {}
 main > section > section > article .dis_price > ins {
     font-size: 14px;
     text-decoration: none;
 }
 main > section > section > article ins::after {
     content: "원";
 }
 main > section > section > article .dis_price > .free {
     display: inline-block;
     font-size: 0;
     vertical-align: text-bottom;
     width: 55px;
     height: 13px;
     background-image: url(./img/ico_freeshipping.gif);
 }