@charset "UTF-8";

/*--------------------------------------------------------------
상세페이지
--------------------------------------------------------------*/
p{
	margin: 0 !important;
	padding: 0 !important;
}

#product {
  padding-top: 150px;
}

.pCodeWrite {
	text-align: center;
	margin-bottom: 20px;
}

#redBlueButton {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
}

.btnDesign {
	display: inline-block;
}

#FrontRed {
	font-size: 1.5em;
	vertical-align: bottom;
	margin-bottom: 5px;
	margin-right: 10px; 
}

#BackRed {
	text-align: left;

} 

.p1 {
	font-size: 1.2em;
} 


.p2 {
	font-size: 0.8em;
}

.p3 {
	font-size: 0.7em;
}


#redBlueButton > button {
	margin-top: 10px;
	width: calc(50%);
	padding: 11px;
}

.OneRedBtn {
	margin-right: 10px;
}

.OneLikeBtn {
	font-size: 1.3em;
}

#graph-center {
	width: 1320px;
	margin: 0 auto;
}

#Sline-chart {
	float: left;
	margin: 20px;
}

#Aline-chart {
	float: left;
	margin: 20px;
}

#Bline-chart {
	float: left;
	margin: 20px;
}

.events .card {
  border: 0;
  padding: 0 30px;
  margin-bottom: 60px;
  position: relative;
}

.events .card-img {
  width: calc(100% + 60px);
  margin-left: -30px;
  overflow: hidden;
  z-index: 9;
  border-radius: 0;
}

.events .card-img img {
  max-width: 100%;
  transition: all 0.3s ease-in-out;
}

.events .card-body {
  z-index: 10;
  background: #fff;
  border-top: 4px solid #fff;
  padding: 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  margin-top: -60px;
  transition: 0.3s;
}

.events .card-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.events .card-title a {
  color: #37423b;
  transition: 0.3s;
}

.events .card-text {
  color: #5e5e5e;
}

.events .read-more a {
  color: #777777;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  transition: 0.3s;
}

.events .read-more a:hover {
  color: #5fcf80;
}

.events .card:hover img {
  transform: scale(1.1);
}

.events .card:hover .card-body {
  border-color: #5fcf80;
}

.events .card:hover .card-body .card-title a {
  color: #5fcf80;
}

