@charset "UTF-8";

/*--------------------------------------------------------------
상세페이지
--------------------------------------------------------------*/

.likeUnActive {
	display: none;
}

.min-events {
	min-height: 940px;
}

#com_name{
	font-size: 1.4em;
	font-weight: 600;
	color: black;
}

#com_name a{
	text-decoration: none;
	color: black;
}

p{
	margin: 0 !important;
	padding: 0 !important;
}

.redChange {
	color: red;
}

.like {
	font-weight: 600;
	padding-left: 4px;
}

#product {
  padding-top: 50px;
}

.pNameWrite {
	font-size: 1.1em;
	margin-bottom: 20px;
	color: #22222280;
}

.recentPrice {
	margin-bottom: 15px;
	display: flex;
	justify-content: space-between;;
	align-items: center;
	
}

.priceRatio {
	width: calc(50% -2px);
    box-sizing: border-box;
}

#redBlueButton {
	margin: 0 auto;
	
	width: 490px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.OneRedBtn {
	width: 230px;
	margin: 0 7px;
	padding: 5px 10px;
	
	display: inline-flex;
    vertical-align: top;
    overflow: hidden;
    box-sizing: border-box;

}

.OneBlueBtn {
	width: 230px;
	margin: 0 7px;
	padding: 5px 15px;
	
	display: inline-flex;
    vertical-align: top;
    overflow: hidden;
    box-sizing: border-box;
}

.btnDesign {
	display: inline-block;
}

#FrontRed {
	font-size: 1.2em;
	font-weight: 600;
	vertical-align: bottom;
	margin-top: 6px;
	margin-right: 24px;
}

#BackRed {
	text-align: left;

} 

.p1 {
	font-weight: 600;
} 


.p2 {
	font-size: 1em;
}

.p3 {
	font-size: 0.8em;
}

.likeBtn {
	margin-top: 15px;
}

.OneLikeBtn {
}

#graph-center {
	width: 1320px;
	margin: 0 auto;
}

#Sline-chart {
	float: left;
	margin: 10px;
}
	
#Aline-chart {
	float: left;
	margin: 10px;
}
	
#Bline-chart {
	float: left;
	margin: 10px;
}

.events .card {
  border: 0;
  padding: 0 30px;
  margin-bottom: 60px;
  position: relative;
}

.events .card-img {
  width: calc(100% + 60px);
  margin-left: -30px;
  overflow: hidden;
  z-index: 9;
  border-radius: 0;
}

.events .card-img img {
  max-width: 100%;
  transition: all 0.3s ease-in-out;
  padding-bottom: 50px; 
}

.events .card-body {
  z-index: 10;
  width: 550px;
  background: #fff;
  border-top: 4px solid #fff;
  padding: 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  margin-top: -60px;
  transition: 0.3s;
}

.events #card_titles {
	margin-bottom: 15px;
	line-height: 2em;
}

.events .card-title {
  font-weight: 600;
  font-size: 1.3em;
  margin-bottom: 20px;
}

.events .card-title a {
  color: #37423b;
  transition: 0.3s;
}

.events .card-text {
  color: #5e5e5e;
}

.events .read-more a {
  color: #777777;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  transition: 0.3s;
}

.events .read-more a:hover {
  color: #5fcf80;
}

.events .card:hover img {
  transform: scale(1.1);
}

.events .card:hover .card-body {
  border-color: #5fcf80;
}

.events .card:hover .card-body .card-title a {
  color: #5fcf80;
}

