@charset "UTF-8";

#rvForm:not(.active) {
            display: none;
        }

        #rvForm {
            position: fixed;
            left: 40%;
            top: 40%;
            border: 2px solid black;
            background-color: #f5f5f5;
            padding: 10px;
            border-radius: 10px;
        }

        #rvImg{
        	width: 0px;
        	height: 0px;
        }