@charset "UTF-8";
/*--------------------------------------------------------------
review
--------------------------------------------------------------*/
#review_title_form{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 30px 0;
}


#review_title{
	font-size: 1.4em;
	font-weight: 600;
}


.min-reviews {
	height: 80px;
}
		
#rvForm:not(.active) {
          display: none;
      }

#rvForm {
	z-index: 11;
	width: 400px;
	height: 300px;
    position: fixed;
    left: 40%;
    top: 20%;
    border: 2px solid black;
    background-color: #f5f5f5;
    padding: 50px;
    margin: 0 auto;
    border-radius: 10px;
    line-height: 2em;
}

#rvImg{
	width: 0;
	height: 0;
}


.between {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.between input{
	margin-top: 30px;
	width: 70px;
	text-align: center;
} 

        
/*--------------------------------------------------------------
# Courses
--------------------------------------------------------------*/
.courses .course-item {
  border-radius: 5px;
  border: 1px solid #eef0ef;
}
