@charset "UTF-8";
body, button, dd, div, dl, dt, fieldset, figcaption, figure, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul, a{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{font-family: 'Noto Sans KR', sans-serif;}
li, ol, ul {
    list-style: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/*
header{background: black; height: 90px;font-weight: 700;box-sizing: border-box; color: white; 
    display: flex;justify-content: center;align-items: center;  
}
*/

/* */
.content{background-color: #f4f4f4; min-height: 870px; padding-bottom: 40px;}
.content .content_type{padding: 20px 0;}
.content .content_type p{font-size: 1.3em; font-weight: bold;}
.check_title{padding: 32px 0;}
.check_title p:first-child{font-size: 2em; font-weight: bold;}
.check_title p:nth-child(2) > span{font-weight: bold;line-height: 2em;}


/* */
.wrap{width: 700px;margin: 0 auto;}

.wrap.ctn{background-color: #fff;box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1); padding: 20px 32px;border-radius: 5px;}

#item_info #item_img,  #item_info #item_detail{display: inline-block;}

#item_info #item_img img{width: 80px;height: 80px;border-radius: 5px;box-sizing: border-box;}

#item_detail{padding-left: 16px;vertical-align: top; padding-bottom: 10px;}
#item_detail span{display: block;}
#item_detail span:first-child{font-weight: bold;}
#item_detail span:nth-child(2){font-size: 0.95em; color: #22222280;}
#item_detail span:nth-child(3){font-weight: bold;}

/* */
#grade_select{min-height: 400px; border-top: 1px solid #d3d3d3; padding: 10px 0;}


.select_item{
    width: calc(33.33333% - 12px);
    margin: 4px;
    display: inline-flex;
    vertical-align: top;
    overflow: hidden;
    box-sizing: border-box;
}
.select_item button{width: 100%;height: 60px;border-radius: 10px;background: white;border: 1px solid #d3d3d3;box-sizing: border-box;
    display: flex;justify-content: center;align-items: center;}
.select_item button span:last-child{font-size: 0.9em;}
    
/* */
#notice_select{min-height: 400px; border-top: 2px solid #000; padding: 10px 0;}
#notice_select li{padding: 20px 0;}
#notice_select li:nth-child(2){border-top: 1px solid #d3d3d3;}
#notice_select li:nth-child(3){border-top: 1px solid #d3d3d3;}

.notice a{font-size: 0.95em;}
.notice > label{display: flex;justify-content: space-between;align-items: center;}
.notice > label > div:nth-child(1){width: 90%;box-sizing: border-box}
.notice > label > div:nth-child(2){box-sizing: border-box}
.check_div{vertical-align: top;margin-top: 20px;}
.notice_check_btn{width: 24px;height: 24px;box-sizing: border-box; accent-color: black;}

.notice_sub{font-size: 0.95em;color: #22222280;}

/* */
#input_select{ border-top: 1px solid #d3d3d3; padding: 10px 0;}

.now_price_form{padding: 20px 0;}
.now_price_form > ul > li:nth-child(2){border-left: 1px solid #d3d3d3; box-sizing: border-box;}
.now_price{width: calc(50% - 4px); display: inline-block;box-sizing: border-box;text-align: center;}
.now_price p:nth-child(1){font-size: 0.95em; color: #22222280;}

/* */
.tab-group{border-radius: 80px;background: #f4f4f4;height: 56px;padding: 0;border: 1px solid #ebebeb;}
.tab-group li{display: inline-block; width: calc(49% - 4px);text-align: center; height: 48px;padding-top: 12px;margin: 3px 0px 3px 3px;}
.tab-group li:nth-child(1){margin-left: 4px;}
.tab-group li:nth-child(2){margin-left: 8px;}
.tab-group li a{text-decoration: none;color: #222222cc;font-size: 0.9em; padding: 20px 120px;}
.tab-group li.active{border-radius: 80px;background: #ef6253;}
.tab-group li.active a{color: white; font-weight: 600;}

/* */
#buy_bid > form > div{padding: 16px 0;}
#buy_bid p{color: #22222280;}
#buy_bid dl{border-bottom: 2px solid #ebebeb; padding-bottom: 2px;display: flex;}
#buy_bid dd{align-items: center; margin-top: 20px; font-weight: 600;margin-left: auto;font-size: 1.2em;}
#buy_bid dd input{border: 0;font-weight: 600;text-align: right;}
#buy_bid dd input:focus{outline: none;}
#buy_bid dd input::placeholder{border: 0;font-weight: 600;text-align: right;color: #b6b6b6;}

#bid_date div:nth-child(1){margin-bottom: 10px;}
#bid_date div:nth-child(2){display: flex; justify-content: space-between;}
#bid_date span{font-weight: 600;}
#bid_date a{border: 1px solid #22222220; border-radius: 10px; width: calc(25% - 10px);height: 40px; color: #22222290;font-size: 0.9em;padding-top: 8px;}
#bid_date a:hover{background: #22222220;}
#bid_date a.act{border: 1px solid #22222280; font-weight: 600;color: #000;}
#bid_date a.act:hover{background: none;}
a.act{border: 1px solid #000 !important; font-weight: 600;color: #000;}
.act{border: 1px solid #000 !important; font-weight: 600;color: #000;}

/* */
#buy_imd > form > div{padding: 16px 0;}
#buy_imd p{color: #22222280;}
#buy_imd dl{border-bottom: 2px solid #ebebeb; padding-bottom: 2px;display: flex;}
#buy_imd dd{align-items: center; margin-top: 20px; font-weight: 600;margin-left: auto;font-size: 1.2em;}
#buy_imd dd input{border: 0;font-weight: 600;text-align: right;}
#buy_imd dd input:focus{outline: none;}
#buy_imd dd input::placeholder{border: 0;font-weight: 600;text-align: right;color: #b6b6b6;}

.hide{display: none !important;}

.address{
    border-top: 1px solid #d3d3d3 !important;
    padding: 20px 0;;
}
.address > div:nth-child(1){display: flex; justify-content: space-between;}
.address > div:nth-child(1) > a{color: #22222280;text-decoration: none;font-size: 0.8em;cursor: pointer;}

.address > div > span:first-child {font-weight: 600;font-size: 1.1em;}
.adr_form > div:nth-child(2){display: flex; justify-content: space-between;}
.adr_form > div:nth-child(2) > div{display: inline-block;}
.adr_form > div:nth-child(2) > div:nth-child(2){display: flex;justify-content: center;align-items: center;}
.adr_form > div:nth-child(2) > div:nth-child(2) > a{height: 34px; font-size: 0.8em;}

#adr{width: 80%; line-height: 32px; font-size: 0.8em;}
#adr dl div > *{display: inline-block;}
#adr dl div dt:first-child{width: 100px;color: #22222280;}

#pay > span{font-size: 0.8em;}
#pay > ul{padding-top: 10px;}
#pay > ul > li{display: inline-block;width: calc(33.3333% - 4px);}
#pay > ul > li > a{border: 1px solid #22222230; height: 60px;display: flex;align-items: center;justify-content: space-between;padding-left: 20px;}
#pay > ul > li > a > img{width: 40px; height: 40px;}

#amt > div{display: flex;justify-content: space-between;line-height: 32px;}
#amt > div > p:first-child{color: #22222280;text-decoration: none;font-size: 0.8em;font-weight: 600;}

.total > div > p{font-weight: 600;font-size: 1.4em;}
.buy{color: #f15746;}
.sell{color: #41b979;}

.confirm{border-top: 1px solid #d3d3d3;padding: 20px 0;}
.confirm > div > div{display: flex;justify-content: space-between;line-height: 32px;}
.confirm > div:first-child > span{font-weight: 600;font-size: 1.1em;}
.confirm > div > div > p:first-child{color: #22222280;text-decoration: none;font-size: 0.8em;font-weight: 600;}



/* */
.sub{
    width: 100%;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    border-top: 1px solid #d3d3d3; padding: 20px 0;
}


.sub button{width: 100%;height: 64px;border-radius: 10px;background: #333;box-sizing: border-box;
    display: flex;justify-content: center;align-items: center;}

/**/
.sub button.btn_not_active{background: #d3d3d3;border: none;}   

.sub button span{color: white;}
.sub button span:first-child{font-size: 1em;font-weight: bold;}
.sub button span:last-child{font-size: 0.9em;}
form.payform{width: 100%;}

.home.sub{display: flex;justify-content: space-between;align-items: center;text-align: center;}
.home a{width: calc(50% - 10px);height: 64px; background: #333;color: #ebebeb;font-weight: 600;display: flex;align-items: center;justify-content: center;}
.home a:hover{width: calc(50% - 10px);height: 64px; background: #333;color: #ebebeb;font-weight: 600;display: flex;align-items: center;justify-content: center;}