<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.sendandtake.www.main.model.MemberVO" alias="Member"/>
		<typeAlias type="com.sendandtake.www.product.model.ProductVO" alias="Product"/>
		<typeAlias type="com.sendandtake.www.product.model.ReviewVO" alias="Review"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mybatis/member.xml"/>
		<mapper resource="mybatis/product.xml"/>
		<mapper resource="mybatis/review.xml"/>
	</mappers>
</configuration>